<?xml version="1.0" encoding="utf-8"?>
<configuration>
<log4net>
  <root>
    <level value="ALL"></level>
    <appender-ref ref="textfile" />
  </root>

  <appender name="textfile" type="log4net.Appender.RollingFileAppender">
    <file value="D:\Ozodbekkkkk\Codes\DotNet\Market.Api\Market.Api\Logs\log4net" />
    <datePattern value="yyyy-MM-dd'.txt'" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd hh:mm:ss.ffff} %level %logger %method %line - %message%newline" />
    </layout>
  </appender>
</log4net>

</configuration>